th {
    font-size: 20px;
    text-align: center;
}

td {
    padding: 10px;
    font-size: 20px;
}

table, th, td {
    border: 1px solid;
}

table {
    margin-bottom: 30px;
    width: 100%;
    text-align: right;
}

.refresh-table {
    margin-top: 50px;
}

.selected {
    background-color: lightblue;
    font-weight: bold;
}

.ticket-type-row {
    cursor: pointer;
}

.submit {
    margin-top: 15px;
    margin-right: 10px;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
}

.export {
    float: right;
    margin-top: 40px;
}

.fade-in {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.alert {
    border-radius: 10px;
    width: max-content;
    position: fixed;
    top: 10px;
}

.dropdown-toggle {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    min-width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: none;
}

.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.dropdown.show .dropdown-menu {
    display: block;
}