@page "/counter"

<PageTitle>Counter</PageTitle>

@using FitnessApiClient.Api
@using FitnessApiClient.Context
@using Microsoft.EntityFrameworkCore
@using FitnessApiClient
@*@inject MyDbContext DbContext*@

<h1>Arenas</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var arena in fitnessArenas)
        {
            <tr>
                <td>@arena.arenaId</td>
                <td>@arena.name</td>
                <td>@arena.isDeleted</td>
            </tr>
        }
    </tbody>
</table>



@code {
    List<FitnessArena> fitnessArenas = new List<FitnessArena>();
    protected override async Task OnInitializedAsync()
    {
        fitnessArenas = await DbClient.GetTable<FitnessArena>();
    }
}