@page "/entry"

<PageTitle>LogIn</PageTitle>

@using FitnessApp.Data


<CascadingAuthenticationState>
    <nav>
        <ul>
            <AuthorizeView Roles="Admin">
                <li><NavLink href="/admin">Admin Dashboard</NavLink></li>
            </AuthorizeView>

            <AuthorizeView Roles="User">
                <li><NavLink href="/dashboard">My Dashboard</NavLink></li>
            </AuthorizeView>

            <li><NavLink href="/logout">Logout</NavLink></li>
        </ul>
    </nav>
</CascadingAuthenticationState>

@code {

}
